<%= turbo_frame_tag :content do %>
  <div class="options_page">
    

    <div class="options_window">
      
      <%= turbo_frame_tag :options, src: play_options_path do %>
      <% end %>
      <%= render 'pages/loader' %>

    </div>
    <%= turbo_frame_tag :play_results do %>
    <% end %>
    <%= render 'pages/loader' %>

  </div>
<% end %>