<%= turbo_frame_tag :play_results do %>

  RESULTS

  <% if @error.present? %>
    <%= @error %>
  <% else %>

    <table class="play_results">
      <tr>
        <th> Player </th>
        <th> Group </th>
        <th> Game </th>
      </tr>
      <% @rankings[0].each_with_index do |group, i| %>
        <% group.each do |player| %>
          <tr>
            <td>
              <%= @players.where(id: player).first.first_name %> <%= @players.where(id: player).first.surname %>
            </td>
            <td class="center_cell">
              <%= i+1 %>
            </td>
            <td>
            <% pp @rankings %>
              <%= @rankings[2][i]%>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>