<%= turbo_frame_tag :play_results do %>
<div class="options_group results_group">
  <div class="results_head">Results</div>
  <div class="error">
    <% if @error.present? %>
      <%= @error %>
    <% else %>
  </div>

    <table class="play_results">
      <tr>
        <th> Player </th>
        <th> Group </th>
        <th> Game </th>
      </tr>
      <% @rankings.each_with_index do |group, i| %>
        <% group[0].each do |player| %>
          <tr>
            <td>
              <%= @players.where(id: player).first.first_name %> <%= @players.where(id: player).first.surname %>
            </td>
            <td class="center_cell">
              <%= i+1 %>
            </td>
            <td>
            <% pp @rankings %>
              <%= @games.where(id: group[2][0]).first.name %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    </div>
  <% end %>
<% end %>