<%= form_with(model: group, turbo_frame: "content") do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

 
  <div class="check_field">
    <%= form.label :private, style: "display: block" %>
    <%= form.check_box :private %>
  </div>
  

  <div data-controller="places" data-action="google-maps-callback@window->places#initAutocomplete">
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location, 'data-action': "keydown->places#preventSubmit", 'data-places-target': "address", placeholder:"Search a location", "autocomplete": "off" %>
  </div>
  
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
