<div id="<%= dom_id group %>">
  <table class="item_show">
    <tr class="header_row">
      <th> <%= @group.name %> </th>
    </tr>
    <tr>
      <td> <%= @group.member_count %>
      <% if @group.member_count == 1 %>
       Member</td>
       <% else %>
       Members</td>
       <% end %>

    </tr>
    <tr>
      <td> <%= @group.location %></td>
    </tr>
    <tr>
      <td> <%= @group.description %></td>
    </tr>
    <tr class="header_row"><th></th></tr>
  </table>

</div>
