<%= turbo_frame_tag :content do %>
  <p style="color: green"><%= notice %></p>

 <table data-controller="table-links">
    <tr class="header_row">
      <th>Group Name</th>
      <th>Location</th>
      <th>Members</th>

    </tr>
  
    <% @groups.each do |group| %>
      <tr class="data_row_clickable" id="<%= group.id %>" data-action="click->table-links#group">
        <td><%= group.name %></td>
        <td><%= group.location %></td>
        <td><%= @memberships.where(group_id: group.id).present? ? @memberships.where(group_id: group.id).count : "0" %> </td>
      </tr>
    <% end %>
  </table>

  <%= button_to "New Group", new_group_path, method: :get %>
  <% end %>
