<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Min players:</strong>
    <%= game.min_players %>
  </p>

  <p>
    <strong>Max players:</strong>
    <%= game.max_players %>
  </p>

  <p>
    <strong>Min rec players:</strong>
    <%= game.min_rec_players %>
  </p>

  <p>
    <strong>Max rec players:</strong>
    <%= game.max_rec_players %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= game.weight %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= game.image %>
  </p>

  <p>
    <strong>Bgg:</strong>
    <%= game.bgg_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

</div>
