<%= turbo_frame_tag :games_table do %>
  <% if current_user.id == params[:id].to_i %>
    <div class="leftfield">
      <%= button_to "Import Collection From Bgg", update_games_path, :class => "square_button update_small_button strip_link", :method => :get %>
    </div>
  <% end %>
  <% if @error.present? %>
    <div class="table_error">
      <%= @error %>
    </div>
  <% end %>
  <table class="games_table standard_table" data-controller="expand">
    <tr class="header_row" data-controller = "sort">
      <th data-action = "click->sort#sort" id="Game">Game</th>
      <th data-action = "click->sort#sort" id="Year">Year</th>
      <th data-action = "click->sort#sort" id="Weight">Weight</th>
      <th data-action = "click->sort#sort" id="Rating">My Rating</th>
    </tr>
      <% @games.each do |game| %>
        <tr class="data_row_clickable expandable_row" data-action ="click->expand#expandRow">
          <td><%= game.name %></td>
          <td class="center_cell"><%= game.year %></td>
          <td class="center_cell"><%= game.weight.round(1) %></td>
          <td><%= form_with url: new_rating_path, data:{:controller => "autosub", turbo_frame: "hidden"} do |f| %><%= f.hidden_field :game_id, :value => game.id %><%= f.hidden_field :rating, :value => rated_check(game,current_user.id) %><%= f.select :rating, options_for_select(Rating.rating_values, rated_check(game,current_user.id)), {}, data:{:action => "change->autosub#saveUpdateRating"} %><% end %></td>
        </tr>
        <tr class="panel">
          <td class="game_panel" colspan="4">
            <div class="game_panel_container">
              <div><%= image_tag game.image[2..-3] %></div>
              <div>Players: <%= game.min_players %> - <%= game.max_players %></div>
              <div>Recommended players: <%= game.min_rec_players %>
                <% if game.min_rec_players != game.max_rec_players %>
                  - <%= game.max_rec_players %>
                <% end %>
              </div>
              <div>Play time: <%= game.playing_time%></div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
<% end %>